.position-container {
    margin-bottom: 25px;
}

.position-container span {
    margin-right: 10px;
    font-size: 18px;
}

.position-container .title {
    color: #fff;
    font-weight: bold;
}

.profit-indicator  span {
    font-size: 16px;
}

.profit {
    color: #72a168;
}

.loss {
    color: red;
}

span.ratio-indicator {
	font-size: 14px;
}

.highlight {
    color: #3681c2;
}

span.additional-info-2 {
    color: rgb(255 255 255 / 37%);
    font-size: 14px;
}

a:link {
	text-decoration: none;
}
