.position-container {
    margin-bottom: 25px;
}

.position-container span {
    margin-right: 10px;
    font-size: 18px;
}

.position-container .title {
    color: #fff;
    font-weight: bold;
}

.profit-indicator  span {
    font-size: 16px;
}

.profit {
    color: #72a168;
}

.loss {
    color: red;
}

.additional-info {
    color: #3681c2;
}

span.additional-info-2 {
    /*color: #807a7a;*/
    color: rgb(115 161 104 / 39%);

    font-size: 14px;
}